* {
	font-family: sans-serif;
}
body {
	background-color: #ffffff;
	color: #000000;
}
a {
	text-decoration: none;
	color: #0000ff;
}
a:hover {
	text-decoration: underline;
}
a:visited {
	color: #800080;
}
.title {
	font-weight: bold;
}
.releasedate {
	font-style: italic;
}
.desc {
}
.techspec {
	font-style: italic;
}
.title, .desc, .techspec {
	margin: 0.5em;
}
h1 {
	font-size: 125%;
	font-weight: bold;
}
h2 {
	font-size: 100%;
	text-style: italic;
}
.cover {
	height: 20em;
	width: 20em;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
}
.thumb {
	height: 10em;
	width: 10em;
	vertical-align: middle;
}
.releaselistitem {
	display: inline-block;
	vertical-align: middle;
	width: 40em;
}