* {
	font-family: sans-serif;
}
body {
	background-color: #ffffff;
	color: #000000;
}
a {
	text-decoration: none;
	color: #0000ff;
}
a:hover {
	text-decoration: underline;
}
a:visited {
	color: #800080;
}
.title {
	font-weight: bold;
}
.releasedate {
	font-style: italic;
}
.desc {
}
.techspec {
	font-style: italic;
}
.title, .desc, .techspec {
	margin: 0.5em;
}
h1 {
	font-size: 125%;
	font-weight: bold;
}
h2 {
	font-size: 100%;
	font-style: italic;
}
.cover {
	width: 20em;
	max-width: 100%;
	height: auto;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
}
#releaselist {
	list-style-type: none;
	padding-left: 0;
}
.thumb {
	width: 10em;
	max-width: 50%;
	vertical-align: middle;
}
.releaselistitem {
	display: inline-block;
	vertical-align: middle;
	width: 45%;
	margin-left: 5%;
}
.hidden {
	position: absolute;
	left: -1000px;
	top: auto;
}